body {
    font-family: sans-serif;
    line-height: 1.4;
    background: #000000;
    color: #FFFFFF;
    margin: 0px;
}

button {
    background: #333333;
    color: white;
}

a {
  color: #bed3f2;  
}
a:visited {
  color: #d4b9ff;  
}


code, pre {
    background: #333333;
    border-radius: 5px;
    padding: 2px;
}

h1 {
    text-align: center;
}

nav {
    position: fixed;
    top: 10px;
    left: 10px;
}

table, th, td {
    border: 1px solid #444444;
    border-collapse: collapse;
}

table {
    margin: auto;
}

td {
    text-align: left;
}

td code {
    margin: 2px;
}

.block-code {
    display: block;
}

.collapser {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #222222;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}

.equation {
    color: white;
    border-color: #333333;
    border-radius: 5px;
}

.equation * {
    border-color: white;
}



.collapsible p {
    width: 85%;
    margin-left: 8%;
}

h3 {
    margin-left: 4%;
}

section {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
}

section:nth-child(2n) {
    background: #181818;
    border-radius: 5px;
}
section:nth-child(2n+1) {
    background: #0b0b0b;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

.standalone-code-block {
    margin: auto;
    width: 75%;
    margin-top: 25px;
    margin-bottom: 25px;
}